# Data Cleaning & Exploration - Hotel Bookings

# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Dataset

In [2]:
hb = pd.read_csv('/Users/raheem-gsu/Documents/Github Portfolio Projects/Hotel-Booking-Analysis/Datasets/hotel_bookings.csv')
hb

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

# Initial Data Inspection

In [3]:
hb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

- `company` is an ID number. Rename it to company_id and convert it to an object. Remove the decimal point.
- `agent` is an ID number. Rename it to agent_id and convert it to an object. Remove the decimal point.
- Convert `reservation_status_date` to datetime64.
- Combine "arrival" fields into a new datetime64 field called `arrival_date`.

In [4]:
# Viewing NULL values
hb.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [5]:
# Viewing NULL `children` rows.
hb[hb['children'].isnull()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40600,City Hotel,1,2,2015,August,32,3,1,0,2,...,No Deposit,NaN,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40667,City Hotel,1,1,2015,August,32,5,0,2,2,...,No Deposit,14.0,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-04
40679,City Hotel,1,1,2015,August,32,5,0,2,3,...,No Deposit,NaN,NaN,0,Transient-Party,18.0,0,2,Canceled,2015-08-04
41160,City Hotel,1,8,2015,August,33,13,2,5,2,...,No Deposit,9.0,NaN,0,Transient-Party,76.5,0,1,Canceled,2015-08-09

- `children` column has 4 NULL values - set them to zero then, convert to int64.

# Data Cleaning

In [6]:
# Checking for duplicates
hb.duplicated().sum()

31994

There are a significant amount of duplicates due to the nature of the dataset. We will not remove them. Instead we will create an index for this dataset to create uniqueness.

In [7]:
hb['index'] = hb.index = range(1, len(hb) + 1)
hb

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,index
1,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,1
2,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2
3,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,3
4,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,4
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119386,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06,119386
119387,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07,119387
119388,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07,119388
119389,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07,119389
119390,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07,119390

In [8]:
# Re-check duplicate amount
hb.duplicated().sum()

0

Now there are zero duplicates!

## Fixing company

In [9]:
# Convert `company` to string
hb['company'] = hb['company'].astype(str)
hb['company']

1         nan
2         nan
3         nan
4         nan
5         nan
         ...
119386    nan
119387    nan
119388    nan
119389    nan
119390    nan
Name: company, Length: 119390, dtype: object

In [10]:
# Convert to object NULL values - None
hb.loc[hb['company'] == 'nan', 'company'] = None
hb['company']

1         None
2         None
3         None
4         None
5         None
          ...
119386    None
119387    None
119388    None
119389    None
119390    None
Name: company, Length: 119390, dtype: object

In [11]:
# Remove decimal point
hb['company'] = hb['company'].str.split('.').str[0]
hb['company'].value_counts()

company
40     927
223    784
67     267
45     250
153    215
      ...
104      1
531      1
160      1
413      1
386      1
Name: count, Length: 352, dtype: int64

In [12]:
# Rename `company` to `company_id`
hb.rename(columns={'company' : 'company_id'}, inplace=True)

## Fixing agent

In [13]:
# Convert `agent` to string
hb['agent'] = hb['agent'].astype(str)
hb['agent']

1           nan
2           nan
3           nan
4         304.0
5         240.0
          ...
119386    394.0
119387      9.0
119388      9.0
119389     89.0
119390      9.0
Name: agent, Length: 119390, dtype: object

In [14]:
# Convert to object NULL values - None
hb.loc[hb['agent'] == 'nan', 'agent'] = None
hb['agent']

1          None
2          None
3          None
4         304.0
5         240.0
          ...
119386    394.0
119387      9.0
119388      9.0
119389     89.0
119390      9.0
Name: agent, Length: 119390, dtype: object

In [15]:
# Remove decimal point
hb['agent'] = hb['agent'].str.split('.').str[0]
hb['agent'].value_counts()

agent
9      31961
240    13922
1       7191
14      3640
7       3539
       ...
289        1
432        1
265        1
93         1
304        1
Name: count, Length: 333, dtype: int64

In [16]:
# Rename `agent` to `agent_id`
hb.rename(columns={'agent' : 'agent_id'}, inplace=True)

## Converting reservation_status_date to datetime64

In [17]:
hb['reservation_status_date'] = hb['reservation_status_date'].astype('datetime64[ns]')
hb['reservation_status_date']

1        2015-07-01
2        2015-07-01
3        2015-07-02
4        2015-07-02
5        2015-07-03
            ...
119386   2017-09-06
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
119390   2017-09-07
Name: reservation_status_date, Length: 119390, dtype: datetime64[ns]

In [18]:
# View arrival fields to combine
hb[['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month']]

        arrival_date_year arrival_date_month  arrival_date_day_of_month
1                    2015               July                          1
2                    2015               July                          1
3                    2015               July                          1
4                    2015               July                          1
5                    2015               July                          1
...                   ...                ...                        ...
119386               2017             August                         30
119387               2017             August                         31
119388               2017             August                         31
119389               2017             August                         31
119390               2017             August                         29

[119390 rows x 3 columns]

In [19]:
# Convert arrival month to numeric
from datetime import datetime

hb['arrival_date_month'] = hb['arrival_date_month'].apply(lambda x: datetime.strptime(x, '%B').month)
hb['arrival_date_month']

1         7
2         7
3         7
4         7
5         7
         ..
119386    8
119387    8
119388    8
119389    8
119390    8
Name: arrival_date_month, Length: 119390, dtype: int64

In [20]:
# Combine `arrival_date_year`, `arrival_date_month`, and `arrival_date_day_of_month` into a new field datetime64 field called `arrival_date`.
hb['arrival_date'] = pd.to_datetime(hb['arrival_date_year'].astype(str) + '-' + hb['arrival_date_month'].astype(str) + '-' + hb['arrival_date_day_of_month'].astype(str))
hb['arrival_date']

1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
5        2015-07-01
            ...
119386   2017-08-30
119387   2017-08-31
119388   2017-08-31
119389   2017-08-31
119390   2017-08-29
Name: arrival_date, Length: 119390, dtype: datetime64[ns]

In [21]:
# Drop all arrival date related columns except arrival_date
hb.drop(columns=['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month', 'arrival_date_week_number'], inplace=True)
hb

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,company_id,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,index,arrival_date
1,Resort Hotel,0,342,0,0,2,0.0,0,BB,PRT,...,None,0,Transient,0.00,0,0,Check-Out,2015-07-01,1,2015-07-01
2,Resort Hotel,0,737,0,0,2,0.0,0,BB,PRT,...,None,0,Transient,0.00,0,0,Check-Out,2015-07-01,2,2015-07-01
3,Resort Hotel,0,7,0,1,1,0.0,0,BB,GBR,...,None,0,Transient,75.00,0,0,Check-Out,2015-07-02,3,2015-07-01
4,Resort Hotel,0,13,0,1,1,0.0,0,BB,GBR,...,None,0,Transient,75.00,0,0,Check-Out,2015-07-02,4,2015-07-01
5,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,None,0,Transient,98.00,0,1,Check-Out,2015-07-03,5,2015-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119386,City Hotel,0,23,2,5,2,0.0,0,BB,BEL,...,None,0,Transient,96.14,0,0,Check-Out,2017-09-06,119386,2017-08-30
119387,City Hotel,0,102,2,5,3,0.0,0,BB,FRA,...,None,0,Transient,225.43,0,2,Check-Out,2017-09-07,119387,2017-08-31
119388,City Hotel,0,34,2,5,2,0.0,0,BB,DEU,...,None,0,Transient,157.71,0,4,Check-Out,2017-09-07,119388,2017-08-31
119389,City Hotel,0,109,2,5,2,0.0,0,BB,GBR,...,None,0,Transient,104.40,0,0,Check-Out,2017-09-07,119389,2017-08-31
119390,City Hotel,0,205,2,7,2,0.0,0,HB,DEU,...,None,0,Transient,151.20,0,2,Check-Out,2017-09-07,119390,2017-08-29

# Handling Missing Values

- `company`, `agent`, and `country` are categorical identifiers by nature that contain many NULL values. We will keep them because they account for large portion of the dataset and contain other information valuable for analysis.

## Fixing children column

In [22]:
# Convert NULL values to 0 and convert to int.
hb.loc[pd.isna(hb['children']), 'children'] = 0
hb['children'] = hb['children'].astype(int)
hb['children'].value_counts()

children
0     110800
1       4861
2       3652
3         76
10         1
Name: count, dtype: int64

# Descriptive Statistics

In [23]:
hb.describe().T

,count,mean,min,25%,50%,75%,max,std
is_canceled,119390.0,0.370416,0.0,0.0,0.0,1.0,1.0,0.482918
lead_time,119390.0,104.011416,0.0,18.0,69.0,160.0,737.0,106.863097
stays_in_weekend_nights,119390.0,0.927599,0.0,0.0,1.0,2.0,19.0,0.998613
stays_in_week_nights,119390.0,2.500302,0.0,1.0,2.0,3.0,50.0,1.908286
adults,119390.0,1.856403,0.0,2.0,2.0,2.0,55.0,0.579261
children,119390.0,0.103886,0.0,0.0,0.0,0.0,10.0,0.398555
babies,119390.0,0.007949,0.0,0.0,0.0,0.0,10.0,0.097436
is_repeated_guest,119390.0,0.031912,0.0,0.0,0.0,0.0,1.0,0.175767
previous_cancellations,119390.0,0.087118,0.0,0.0,0.0,0.0,26.0,0.844336
previous_bookings_not_canceled,119390.0,0.137097,0.0,0.0,0.0,0.0,72.0,1.497437
booking_changes,119390.0,0.221124,0.0,0.0,0.0,0.0,21.0,0.652306
days_in_waiting_list,119390.0,2.321149,0.0,0.0,0.0,0.0,391.0,17.594721
adr,119390.0,101.831122,-6.38,69.29,94.575,126.0,5400.0,50.53579
required_car_parking_spaces,119390.0,0.062518,0.0,0.0,0.0,0.0,8.0,0.245291
total_of_special_requests,119390.0,0.571363,0.0,0.0,0.0,1.0,5.0,0.792798
reservation_status_date,119390,2016-07-30 00:24:47.883407104,2014-10-17 00:00:00,2016-02-01 00:00:00,2016-08-07 00:00:00,2017-02-08 00:00:00,2017-09-14 00:00:00,NaN
index,119390.0,59695.5,1.0,29848.25,59695.5,89542.75,119390.0,34465.068657
arrival_date,119390,2016-08-28 16:39:45.727447808,2015-07-01 00:00:00,2016-03-13 00:00:00,2016-09-06 00:00:00,2017-03-18 00:00:00,2017-08-31 00:00:00,NaN

# Handling Outliers

I noticed that `reservation_status_date` starts in 2014 in October indicating that it isn't a full year. Let's investigate further.

In [24]:
hb_2014 = hb.loc[hb['reservation_status_date'].dt.year == 2014]
hb_2014

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,company_id,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,index,arrival_date
1546,Resort Hotel,1,297,1,3,2,0,0,BB,PRT,...,None,0,Transient,0.0,0,0,Canceled,2014-11-18,1546,2015-09-03
73715,City Hotel,1,265,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73715,2015-07-09
73716,City Hotel,1,258,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73716,2015-07-02
73717,City Hotel,1,258,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73717,2015-07-02
73718,City Hotel,1,258,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73718,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73891,City Hotel,1,321,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73891,2015-09-03
73892,City Hotel,1,321,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73892,2015-09-03
73893,City Hotel,1,321,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73893,2015-09-03
73894,City Hotel,1,321,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73894,2015-09-03
73895,City Hotel,1,321,0,2,2,0,0,BB,PRT,...,None,0,Transient-Party,62.8,0,0,Canceled,2014-10-17,73895,2015-09-03

In [25]:
# Lists 2014 month range.
hb_2014['reservation_status_date'].dt.month.value_counts()

reservation_status_date
10    180
11      1
Name: count, dtype: int64

Let's drop year 2014 because it only has October and November (which only has one day).

In [26]:
hb = hb[hb['reservation_status_date'].dt.year != 2014]
hb.describe().T

,count,mean,min,25%,50%,75%,max,std
is_canceled,119209.0,0.36946,0.0,0.0,0.0,1.0,1.0,0.482661
lead_time,119209.0,103.730306,0.0,18.0,69.0,160.0,737.0,106.697043
stays_in_weekend_nights,119209.0,0.928999,0.0,0.0,1.0,2.0,19.0,0.99872
stays_in_week_nights,119209.0,2.501053,0.0,1.0,2.0,3.0,50.0,1.909634
adults,119209.0,1.856185,0.0,2.0,2.0,2.0,55.0,0.579674
children,119209.0,0.104044,0.0,0.0,0.0,0.0,10.0,0.398837
babies,119209.0,0.007961,0.0,0.0,0.0,0.0,10.0,0.09751
is_repeated_guest,119209.0,0.030451,0.0,0.0,0.0,0.0,1.0,0.171825
previous_cancellations,119209.0,0.085564,0.0,0.0,0.0,0.0,26.0,0.842045
previous_bookings_not_canceled,119209.0,0.137305,0.0,0.0,0.0,0.0,72.0,1.498564
booking_changes,119209.0,0.22146,0.0,0.0,0.0,0.0,21.0,0.652744
days_in_waiting_list,119209.0,2.324673,0.0,0.0,0.0,0.0,391.0,17.607841
adr,119209.0,101.890911,-6.38,69.53,94.96,126.0,5400.0,50.550498
required_car_parking_spaces,119209.0,0.062613,0.0,0.0,0.0,0.0,8.0,0.245465
total_of_special_requests,119209.0,0.57223,0.0,0.0,0.0,1.0,5.0,0.793087
reservation_status_date,119209,2016-07-31 00:09:59.390985472,2015-01-01 00:00:00,2016-02-03 00:00:00,2016-08-08 00:00:00,2017-02-09 00:00:00,2017-09-14 00:00:00,NaN
index,119209.0,59674.683698,1.0,29804.0,59606.0,89588.0,119390.0,34486.448557
arrival_date,119209,2016-08-29 06:57:43.530438400,2015-07-01 00:00:00,2016-03-14 00:00:00,2016-09-07 00:00:00,2017-03-19 00:00:00,2017-08-31 00:00:00,NaN

# Exploratory Data Analysis (EDA)

In [27]:
# View `hotel` values
hb['hotel'].value_counts()

hotel
City Hotel      79150
Resort Hotel    40059
Name: count, dtype: int64

In [28]:
# View `market_segment` values
hb['market_segment'].value_counts()

market_segment
Online TA        56477
Offline TA/TO    24219
Groups           19631
Direct           12605
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: count, dtype: int64

In [29]:
# View `distribution_channel` values
hb['distribution_channel'].value_counts()

distribution_channel
TA/TO        97689
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: count, dtype: int64

In [30]:
# View `deposit_type` values
hb['deposit_type'].value_counts()

deposit_type
No Deposit    104460
Non Refund     14587
Refundable       162
Name: count, dtype: int64

In [31]:
# View `customer_type` values
hb['customer_type'].value_counts()

customer_type
Transient          89612
Transient-Party    24944
Contract            4076
Group                577
Name: count, dtype: int64

In [32]:
# View `reservation_status` values
hb['reservation_status'].value_counts()

reservation_status
Check-Out    75166
Canceled     42836
No-Show       1207
Name: count, dtype: int64

# Export Cleaned Dataset

In [34]:
hb.to_csv('hotel_bookings (cleaned).csv', index=False)